{
    "plugins": ["prettier-plugin-tailwindcss"],
    "arrowParens": "always",
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "printWidth": 180,
    "semi": true,
    "singleQuote": false,
    "tabWidth": 2
  }
  